


<body>




<h1>My First Heading</h1>
<p>My first paragraph.</p>

<div class="organization">

    <img class="round" src="flower-logo.jpg" widght="230" height="230">
    <form action="/action_page.php">
       First Name: 
        <br><input class="indent" type="text" name="firstname" value="Mickey"></form><br>

</div>


<!-- Slideshow container <div class="slideshow-container">

    <!-- Full-width slides/quotes 
    <div class="mySlides">
      <h3 class="titlecard">Personal</h3>  -->
      <form action="/action_page.php">
        First name:<br>
        <input type="text" name="firstname" value="Mickey"><br>
        Last name:<br>
        <input type="text" name="lastname" value="Mouse"><br><br>
        <button class="btn btn-primary ripple light">Submit</button>
          <input type="submit" value="Submit">
    
    
    </form>
      <p class="author">- John Keats</p>
    
  
    <div>
      
      <q>But man is not made for defeat. A man can be destroyed but not defeated.</q>
      <p class="author">- Ernest Hemingway</p>
    </div>
  
    <div>
      <q>I have not failed. I've just found 10,000 ways that won't work.</q>
      <p class="author">- Thomas A. Edison</p>
    </div>
  
    <!-- Next/prev buttons 
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  
  <!-- Dots/bullets/indicators 
  <div class="dot-container">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
  </div>
-->

    
    
      <!-- Bootstrap slider card start -->
        <div class="card">
          <div class="card-header">
            <h5>Bootstrap slider - FadIn FadOut</h5>
          </div>
          <div class="card-block">
            <ngb-carousel>
              <ng-template ngbSlide>
                <img src="assets/images/slider/slide1.jpg" alt="Random first slide">
                <div class="carousel-caption">
                  <h3>First slide label</h3>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/slider/slide2.jpg" alt="Random second slide">
                <div class="carousel-caption">
                  <h3>Second slide label</h3>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/slider/slide3.jpg" alt="Random third slide">
                <div class="carousel-caption">
                  <h3>Third slide label</h3>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img src="assets/images/slider/slide4.jpg" alt="Random third slide">
                <div class="carousel-caption">
                  <h3>Fourth slide label</h3>
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>  
    
    
    
    
    
    
    
</body>










